<header>
  <mat-toolbar class="d-flex justify-content-between">
    <div>
      <a routerLink="/" style="color: black; text-decoration: none">
        <i class="bi fa-solid fa-sun fa-2xl" style="color: #ffbb00"></i>
      </a>
      <span
        style="font-size: 24px; text-transform: uppercase; font-weight: bold"
        ><a routerLink="/" style="color: black; text-decoration: none">
          Super App
        </a></span
      >
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li>
        <a routerLink="/todolist" class="nav-link px-2 link-secondary"
          >To Do List</a
        >
      </li>
      <li>
        <a routerLink="/map" class="nav-link px-2 link-secondary">Map</a>
      </li>
      <li>
        <a routerLink="/weather" class="nav-link px-2 link-secondary"
          >Weather</a
        >
      </li>
      <li>
        <a routerLink="/flights" class="nav-link px-2 link-secondary"
          >Flights</a
        >
      </li>
      <li>
        <button
          routerLink="/authorization/login"
          matTooltip="Sign in"
          mat-icon-button
        >
          <mat-icon>login</mat-icon>
        </button>
      </li>
    </ul>
  </mat-toolbar>
</header>
